<mat-tab-group>
    <mat-tab label="Intro">
        <div>
            <p>Hi Francesco,</p>
            <p>
                I want to thank you and Ulrich for the interview we had on Tuesday. <br />
                There is my little assignment. On the next tab you have an input to play with.
            </p>
        </div>
    </mat-tab>
    <mat-tab label="Input">
        <div>
            <p>
                Frist simple input
                <simple-input-component></simple-input-component>
            </p>
            <p>
                then an input with some checks
                <input-component></input-component>
            </p>
        </div>
    </mat-tab>
</mat-tab-group>